<html>
<head>
<title>Thermostat</title>
</head>
<body>
<h1>Thermostat</h1>
<p>Currently <%= on_or_off %></p>
<p><a href="on">Switch on</a></p>
<p><a href="off">Switch off</a></p>
<p>Current Temp: <%= current_temp %></p>
<p>Max Temp: <%= max_temp %></p>
<p>Min Temp: <%= min_temp %></p>
</body>
</html>
